.banner{
    background-image: url(/src/Pages/Images/photo-1595950653106-6c9ebd614d3a\ -\ Copy.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 100vh;
    margin-top: -265px;
}
.button, .button a {
    color: white;
    text-decoration: none;
}
.button {
    border: 2px solid rgb(20, 20, 20);
    background: transparent;
    font-size: 30px;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
    background-color: black;

}
.hover:hover {
    color:black;
  }
.button:hover {
    background-color:white;
    
  }
.size{
 
    margin-top: 250px;
    
   
}
.typed{
    font-weight: 800;
    color: #212529;
}
.p-size{
    font-size: 15px;
    font-weight: 400;
    color: #212529;
}
.p-size-0{
    font-size: 10px;
    font-weight: 400;
    color: #212529;
}
.span-size{
    font-size: 20px;
    font-weight: 500;
}
.item{
    color: #212529;
    font-weight: 700;
}
.margin-change{
    /* margin-left: 180px; */
    margin-top: 150px;
    margin-left: 50px;
}
.margin-change-2{
   
    margin-top: 150px;
}
.margin-0{
    margin-left: -350px!important;
}

@media (max-width:768px) {
    .margin-0{
        margin-left: 0px!important;
    }
}